## This notebook gets values from raw data resulting on a final data frame with target values (redshift and supernovae classes).

In [1]:
%load_ext autoreload
%autoreload 2
import os 
import sys
import pandas as pd

In [2]:
module_path = os.path.abspath(os.path.join('..','..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from src.processing.functions import get_raw_files, get_df_label, get_df_redshift

In [3]:
pd.options.display.max_rows = 6

## Getting raw data and type_bool (IA or not IA)

In [6]:
module_path + '/data/raw'

'/home/fm/Projects/photometric-redshift-prediction/data/raw'

In [4]:
files = get_raw_files(module_path + '/data/raw')

In [8]:
df_type = get_df_label(files)

In [ ]:
df_type

In [16]:
df_type

             ID type  type_bool
0      SN125764  IIn      False
1      SN513286   Ic      False
2      SN501595   II      False
...         ...  ...        ...
21314  SN789717   Ic      False
21315  SN147538   II      False
21316   SN52860   II      False

[21317 rows x 3 columns]

In [18]:
df_type.to_pickle(module_path + '/data/structured/df_type.pkl')

## Getting Redshift

In [23]:
zspec_df = pd.read_csv(module_path + '/data/structured/zspec.csv')
df_z = get_df_redshift(zspec_df)

In [24]:
df_z

             ID  REDSHIFT_SPEC
0      SN555557        0.89174
1      SN119309        0.30850
2      SN600220        0.63943
...         ...            ...
21316  SN469949        0.74066
21317  SN816462        0.31025
21318   SN40482        0.45767

[21319 rows x 2 columns]

# Joining and saving on pickle

In [25]:
df = pd.concat([df_type.set_index('ID'), df_z.set_index('ID')], axis = 1 , join = "inner", sort = 'True')

In [27]:
df

         type  type_bool  REDSHIFT_SPEC
ID
SN10001    II      False        0.59162
SN100023   II      False        0.79264
SN10005    Ia       True        1.08327
...       ...        ...            ...
SN99921    II      False        0.69650
SN99946    Ia       True        0.40625
SN9999     II      False        0.54982

[21317 rows x 3 columns]

In [28]:
df.to_pickle(module_path + '/data/structured/df_redshift.pkl')